

.App-header {
  /* margin-top: 20px; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  
}

.App-link {
  color: #61dafb;
}

.text{
  width: 450px ; 
  height : 25px ;
  border : 1px solid #fff ; 
  border-bottom:1px solid  #282c34;
}
.text:active{
  border : 1px solid #fff ; 
  border-bottom:1px solid  #282c34;
}
.clear {
  font-size: 0.9rem;
 position: absolute;
 right:5% ;
bottom: 9px;
}
.options_listing{
  margin : 15px ;
}
.card{
  position: relative;
}